BODY {
    background-color: #f5f5f5 !important;
}

.rating-star {
    font-size: 26px; padding: 4px; border-radius: 3px; background-color: #CCC;
    color: #FFF;
}

/* stars */
.rating-star-coloured {
    background-color: #00B551;
}
.rating-star-uncoloured {
    background-color: #CCC;
}